@import "../../style/variables.scss";

.pagination {
  margin-top: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 4px;
  padding: 8px;

  &-item {
    & button {
      background-color: transparent;
      border: none;
      font-size: $fs-16;

      &:hover,
      &.active {
        border-color: transparent;
        background-color: $primary-80;
        color: $primary;
        border-radius: 12px;
      }
    }
  }
}
