.pagination {
  margin-top: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 4px;
  padding: 8px;

  &-item {
    & button {
      background-color: transparent;
      border: none;
      font-size: 16px;

      &:hover,
      &.active {
        border-color: transparent;
        background-color: #f1e9fe;
        color: #7227f4;
        border-radius: 12px;
      }
    }
  }
}
