@import "../../style/variables.scss";

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  padding: 30px;

  & > input {
    height: 36px;
    border-radius: 12px;
    padding-left: 20px;
    margin-bottom: 20px;
    border: 1px solid $border-40;
  }

  & input:focus-visible {
    outline: 1px solid $border-80;
  }

  &-categories-title {
    margin-bottom: 10px;
    font-weight: $fw-bold;
  }

  &-title {
    display: flex;
    gap: 10px;
    font-weight: $fw-medium;
    font-size: $fs-24;
    align-items: center;
    margin-bottom: 20px;

    & svg {
      color: $primary;
    }
  }

  label {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid $border-40;
    border-radius: 12px;
    padding-left: 20px;
    gap: 10px;
    font-size: $fs-14;

    &:hover {
      background-color: $white;
      font-weight: $fw-bold;
    }
  }
}
